.contact {
  background-color: #ced3ca;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    h2 {
      font-size: 34px;
      line-height: 41px;
      margin: 80px 0 10px;
    }

    p {
      font-size: 16px;
      line-height: 22px;
      max-width: 370px;
      margin: 10px 0 56px;
    }
  }

  &__form {
    position: relative;
    margin-bottom: 130px;

    input {
      padding: 12px 192px 12px 18px;
      border: 1px solid #242424;
    }

    button {
      background-color: #fff;
      width: 66px;
      height: 42px;
      border-radius: 0%;
      border: 1px solid #242424;
      position: absolute;
      right: -1px;
      font-size: 24px;
      line-height: 24px;
      cursor: pointer;

      &:active {
        background-color: #f0f0f0;
      }

      span {
        position: relative;
        top: -2px;
      }
    }
  }
}
