.footer {
  font-size: 15px;
  background-color: #f7f7f7;

  &__inner {
    padding: 84px 0 104px;

    display: flex;
    justify-content: space-between;
  }

  &__block {
    display: flex;
  }

  &__column {
    &:first-child {
      margin-right: 150px;
    }

    li {
      margin: 8px 0;
    }
  }

  &__extra {
    text-align: end;
  }

  &__ugmonk {
    display: flex;
    margin-bottom: 36px;

    &-text {
      margin-right: 24px;
      max-width: 265px;
      h6 {
        font-size: 15px;
        margin-bottom: 9px;
      }
    }
  }

  &__socials {
    a:not(:first-child) {
      margin-left: 16px;
    }
  }
}
