.products {
  padding-bottom: 172px;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__categories {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 40px 0 55px;

    li {
      color: #b3b3b3;
      cursor: pointer;
      padding-bottom: 5px;
      margin: 0 24px 10px;

      &.active {
        color: #000;
        border-bottom: 1px solid #000;
      }
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 65px;
  }

  &__btn {
    background-color: #1a1a1a;
    color: #fff;
    font-size: 20px;
    line-height: 56px;
    cursor: pointer;
    width: 302px;
    height: 56px;

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}

.product {
  max-width: 275px;
  margin: 0 15px 30px 0px;

  img {
    margin-bottom: 10px;
  }

  &__text {
    h4 {
      font-size: 15px;
      line-height: 18px;
      margin-bottom: 6px;

      span {
        color: #a8a8a8;
      }
    }
  }

  &__price {
    font-size: 13px;
    line-height: 13px;

    &--discount {
      color: #808080;

      span {
        color: #ff3451;
      }
    }
  }
}
