.product-intro {
  background-image: url("../../../assets/img/product-intro__background.jpg");
  background-size: cover;
  background-position: center;
  position: relative;

  &__inner {
    margin: 0 10px;
    // height: calc(100vh - 250px);
    height: calc(100vw - 980px);
    max-height: 760px;
  }

  &__text {
    position: absolute;
    bottom: 8px;

    h2 {
      margin: 2px 0;
      font-size: 18px;
      color: #fff;
      line-height: 28px;
    }
  }
}
