@import "libs/normalize";

@import "components/header";
@import "components/notFound";
@import "components/fullProduct";

@import "components/Home/product-intro";
@import "components/Home/products";
@import "components/Home/history";
@import "components/Home/mission";
@import "components/Home/presentation-block";
@import "components/Home/contact";
@import "components/Home/footer";

.container {
  max-width: 1160px;
  margin: 0 auto;

  &--header {
    max-width: 1240px;

    @media (max-width: 1260px) {
      margin: 0 20px;
    }
  }

  @media (max-width: 1180px) {
    margin: 0 20px;
  }
}

.link-btn {
  width: fit-content;

  div {
    width: fit-content;
  }

  p {
    width: fit-content;
    border-bottom: 1px solid #1a1a1a;
    padding-right: 20px;
  }

  &--white {
    p {
      color: #fff;
      border-bottom: 1px solid #fff;
    }
    span {
      color: #fff;
    }
  }

  &--small {
    font-size: 14px;
  }
  &--medium {
    font-size: 15px;
  }
  &--large {
    font-size: 16px;
  }
}
